* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.poz {}

.okvir {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-resp {
    width: 100%;
}

.img-cur {
    border-radius: 15px;
}

.txtdesno {
    text-align: right;
}

.txtc {
    text-align: center;
}

.txtlevo {
    text-align: left;
}

.txtw {
    color: white;
}

.wtxt {
    color: white;
}

.providno {
    clear: both;
    float: none;
}

a {
    color: #ff6b81;
    text-decoration: none;
}

a:hover {
    color: #ff4757;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.dugme-pretraga {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.dugme-pretraga:hover {
    color: white;
    background-color: #ff4757;
}


h1 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 1px 1px 1px #082b34;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 1px 1px 1px #082b34;
}

h3 {
    font-size: 1.5rem;
}

.plutajuci {
    position: relative;
}

.ftxt {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS ya meni */

.logo {
    width: 10%;
    float: left;
}

.meni {
    line-height: 60px;
}

.meni ul {
    list-style-type: none;
}

.meni ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS ya pretragu */

.pretraga-krofni {
    background-image: url('../krofne/slike/sprinklesjpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;

}



.pretraga-krofni input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS za kategorije */
.kategorije {
    padding: 4% 0;
}

.b3 {
    width: 28%;
    float: left;
    margin: 2%;
}


.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}