body {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 100%;

}

#wrapper {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 995px;
}


.dugme {
    background-color: #ff6b81;
    color: #ff6b81;
    cursor: pointer;
}

.dugme:hover {
    color: white;
    background-color: #ff4757;
}